<ion-header>
  <ion-toolbar>
    <ion-title>viewListModal</ion-title>
    <ion-icon name="close-circle-outline" slot="end" (click)="close()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-thumbnail>
      <img src="assets\images\brid.jfif">
    </ion-thumbnail>
  <ion-list class="">
    <ion-item >
      <ion-note slot="end">Name</ion-note>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-note slot="end">Mobile Number</ion-note>
      <ion-label>9030424073</ion-label>
    </ion-item>
  
    <ion-item >
      <ion-note slot="end">Date of Birthday</ion-note>
      <ion-label>20/08/1994</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="end">Gender</ion-note>
      <ion-label>male</ion-label>
    </ion-item>
    <ion-item>
      <ion-note slot="end">Type of Employe</ion-note>
      <ion-label>Diver</ion-label>
    </ion-item>
  </ion-list>

  </ion-card>
 
</ion-content>
