<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="clr">

  </div>

  <ion-card class="shadow-red">

    <ion-card-content>
      <ion-img src="assets\s.webp"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col size="1" class="UserNameIcon">
            <ion-icon name="phone-portrait"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-item>
              <ion-input placeholder="mobile"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="UserNameIcon">
            <ion-icon name="key-outline"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-item>
              <ion-input placeholder="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div align="center" (click)="goToDashBoard()">
    <ion-button type="submit" shape="round" class="button-gradient">
      <p>LOG IN</p>
    </ion-button>

  </div>
  <div align="center" class="account">
    <ion-note>If you don't have account</ion-note>

  </div>
  <div align="center">
    <ion-button fill="clear" (click)="submit()">sign up</ion-button>

  </div>
</ion-content>

<ion-footer>
  <div class="clrFooter">

  </div>
</ion-footer>