.clr{
    width: 100%;
    height:60px;
    background-color: var(--ion-color-light);
}
.clrFooter{
    width: 100%;
    height:70px;
    background-color: var(--ion-color-light);
}
.UserNameIcon{
    margin-top: 20px;
   color: var(--ion-color-primary);
   font-size: 18px;

}
ion-card{
    border-radius: 30px;
    margin-top: -20px;
}
ion-img{
    height: 80px;
    // width: 55px;
    
}.button-gradient{
    --background: var(--ion-button-gradient);
    width: 165px;
    height: 40px;

   
}
.account{
 margin-top: 15px;
}