<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="submit()">DashBoard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" loop='true' >
    <ion-slide>
      <ion-img src="assets\images\school.jfif"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets\images\school3.jfif"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets\images\school4.jfif"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-content>
      <ion-grid class="ion-text-center" >
        <ion-row >
          <ion-col size="4">
            <div>
              <ion-icon name="people-outline"></ion-icon>
            </div>
            <div>
              <ion-note>Childern</ion-note>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <div>
              <ion-note>Mangement</ion-note>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <div>
              <ion-note>School</ion-note>
            </div>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col size="4">
            <div>
              <ion-icon name="bus-outline"></ion-icon>
            </div>
            <div>
              <ion-note>Diver</ion-note>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-icon name="people-outline"></ion-icon>
            </div>
            <div>
              <ion-note>Workers</ion-note>
            </div>
          </ion-col>
          
          <ion-col size="4">
            <div>
              <ion-icon name="book-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col size="4">
            <div>
              <ion-icon name="bus-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-icon name="people-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-icon name="book-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>
