ion-icon{
    color: var(--ion-color-success);
    font-size: 25px;
    // padding:15px
  }
  ion-col{
      padding:15px;
  }
  ion-label{
      font-size: 14px;
      
  }
  ion-col {
      // display: grid;
       // background-color: #e2e7e7;
        border: 0.1px solid #ffa;
        border-radius: 5px;
        
       
  }
  