<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label color="primary">Name</ion-label>
  <ion-input  [(ngModel)]="name"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary">Email</ion-label>
  <ion-input  [(ngModel)]="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary">Type of visit</ion-label>
  <ion-input  [(ngModel)]="visit"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary">Person to visit</ion-label>
  <ion-input  [(ngModel)]="pVisit"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary">date</ion-label>
  <ion-input  [(ngModel)]="date"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary">Time of entry</ion-label>
  <ion-input  [(ngModel)]="entry"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary">Time of exit</ion-label>
  <ion-input  [(ngModel)]="exit"></ion-input>
</ion-item>

</ion-content>
