<ion-header>
  <ion-toolbar>
    <ion-title>Childrens List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- Animated Searchbar -->


<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets\images\brid.jfif">
          </ion-thumbnail> 
          <ion-label text-wrap>kasaboina saikumar</ion-label>
        <ion-button fill="outline" slot="end" (click)="viewModal()">View</ion-button>
        </ion-item>
      </ion-list>
     </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets\images\brid2.jfif">
          </ion-thumbnail> 
          <ion-label text-wrap>kasaboina saikumar</ion-label>
        <ion-button fill="outline" slot="end" (click)="viewModal()">View</ion-button>
        </ion-item>
      </ion-list>
     </ion-card-content>
  </ion-card>
  
  
 

</ion-content>
