<ion-header>
  <ion-toolbar>
    <ion-title>Childrens List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-content>
      <ion-thumbnail>
        <img src="assets\images\brid.jfif">
      </ion-thumbnail>   
      <ion-item>
        <ion-label text-wrap>kasaboina saikumar</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
     </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-thumbnail>
        <img src="assets\images\school2.jfif">
      </ion-thumbnail>   
      <ion-item>
        <ion-label text-wrap>mudhiraj saikumar</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
     </ion-card-content>
  </ion-card>
 

</ion-content>
